@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Custom link buttons */
.ref-link-button {
  @apply inline-flex items-center gap-2 rounded-xl border px-4 py-2 text-sm text-left font-bold bg-white border-zinc-300 transition-colors;
}

.ref-link-button.google {
  @apply pl-3 pr-4;
}

.ref-link-button.youtube {
  @apply px-2;
}
.ref-link-button.google:hover {
  @apply border-blue-500;
}

.ref-link-button.youtube:hover {
  @apply border-red-500;
}

.google span {
  margin-right: -6px;
}

.youtube span {
  margin-left: -6px;
  background-color: #dc2626;
  padding: 1 4px;
  border-radius: 6px;
  color: white;
}



/* Custom CSS classes for chat output */
h4.chat-header {
  @apply font-bold text-lg mb-2;
}

.ingredient-list {
  @apply list-disc my-2 pl-5;
}

.ingredient-list li {
  @apply my-1 leading-relaxed;
  padding-left: 0.25rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.ingredient-list li span {
  @apply text-sm italic opacity-80;
}

